# Build directories
dist/
build/
__pycache__/
*.pyc

# Package build artifacts
packaging/debian/jottr_*/
packaging/rpm/BUILD/
packaging/rpm/BUILDROOT/
packaging/rpm/RPMS/
packaging/rpm/SOURCES/
packaging/rpm/SRPMS/ 

.history/

src/jottr/Jottr.spec
src/.DS_Store
.DS_Store
/.flatpak-builder
/repo
io.github.mfat.jottr-1.4.1.flatpak
