[Desktop Entry]
Name=Jottr
Comment=A simple text editor for writers, journalists and researchers
Exec=jottr
Icon=io.github.mfat.jottr
Type=Application
Categories=Office;TextEditor;
StartupNotify=true 