[Desktop Entry]
Name=Jottr
Comment=Modern text editor for writers and journalists
Exec=jottr
Icon=io.github.mfat.jottr
Terminal=false
Type=Application
Categories=Office;TextEditor;
StartupNotify=true
StartupWMClass=Jottr
