[Desktop Entry]
Name=Jottr
Comment=Modern text editor for writers and journalists
Exec=jottr
Icon=jottr
Terminal=false
Type=Application
Categories=Office;TextEditor;
